.home-block-container {
    display: flex;
    margin-top: 2rem;
}

.home-block {
    flex: 50%;
    height: 100px;
}

.home-block form {
    display: flex;
    flex-direction: column;
}

.home-block form .custom-field {
    position: relative;
    font-size: 1.4rem;
    border-top: 10px solid transparent;
    width: 250px;
}

.home-block form .custom-field input {
    margin: 1rem 0;
    appearance: none;
    padding: 1.2rem;
    border-radius: 3px;
    width: 250px;
    font-size: 1.4rem;
    z-index: 99;
}

.home-block form .custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #666666;
    cursor: text;
    transition: top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.home-block form .custom-field input:focus + .placeholder,
.home-block form .custom-field .not-empty + .placeholder {
    top: 10px;
    background-color: white;
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 3px;
}

.home-block form .button {
    width: 150px;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 3px;
}

.home-block form .button.start {
    color: white;
    background-color: #db7902;
}

.home-block form .button.start:hover {
    background-color: #c46800;
}

.home-block form .button.join {
    border: 2px solid #db7902;
    color: #db7902;
}

.home-block form .button.join:hover {
    background-color: #db7902;
    color: white;
}

.home-block form .button.start:disabled,
.home-block form .button.join:disabled {
    opacity: 50%;
}