html {
    font-size: 10px;
    font-family: Arial, sans-serif;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    background-color: white;
}

.h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

.h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.h3 {
    font-size: 2rem;
    font-weight: 500;
}